body {
    background-color: rgb(252, 168, 12); /*Pode escolher outra cor se quiser*/
  }
  
  h1 {
    color: rgb(22, 147, 230); /*Pode escolher outra cor se quiser*/
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }